@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
  box-sizing: border-box;
}

body {
  background: #ffffff url(/assets/blurred_screen.png) no-repeat center center/cover;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  height: 300px;
  width: 300px;
  position: relative;
  transform: scale(1);
}


.logoButton {
  position: absolute;
  top: 1.5em;
  right: 1.5em;
  width: 100px;
  height: auto;
}

.circle {
  background-color: #010f1c;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.gradient-circle {
  background: conic-gradient(
    #7A8E94 0%,
    #c8d8d3 10%,
    #c8d8d3 21%,
    #080707 21%,
    #030303 58%,
    #7A8E94 58%,
    #7A8E94 100%
  );
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);

  height: 320px;
  width: 320px;
  z-index: -2;
  border-radius: 50%;
  position: absolute;
  top: -10px;
  left: -10px;
}

.pointer {
  background-color: #fff;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  display: block;
}

.pointer-container {
  /* Remove the animation property from the initial state */
  position: absolute;
  top: -40px;
  left: 140px;
  width: 20px;
  height: 190px;
  /* Remove the animation property from the initial state */
  transform-origin: bottom center;
}


.logoButton {
  position: absolute;
  width: 100px;
  height: auto;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.container.grow {
  animation: grow 4s linear forwards;
}

@keyframes grow {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.4);
  }
}

.container.shrink {
  animation: shrink 8s linear forwards;
}

@keyframes shrink {
  from {
    transform: scale(1.4);
  }

  to {
    transform: scale(1);
  }
}

.image-hover img {
  transition: all 0.3s ease;
}

.image-hover img:hover {
  -webkit-filter: grayscale(1) invert(0.7);
 filter: grayscale(1) invert(0.7);
}
